@model MVCBikeShop.Models.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;
}
    <head>
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="~/Css/registration.css" />
        <link type="text/css" rel="stylesheet" href="~/Css/validation.css" />
        <link type="text/css" rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">
    </head>

<body>
    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="post" id="signup-form" class="signup-form">
                        <h2 class="form-title">Sign in</h2>
                        @Html.ValidationSummary()

                        <div class="form-group">
                            <input type="email" class="form-input" name="Email" value="@Model.Email" id="email" placeholder="Your Email" />
                            @Html.ValidationMessageFor(x => x.Email)
                            @*<div class="form-input" id="email" name="Email">@Html.TextBoxFor(x=> x.Email)</div>*@
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="Password" value="@Model.Password" id="password" placeholder="Password" />
                            @Html.ValidationMessageFor(x => x.Password)

                            @*<span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>*@
                        </div>
                        <div class="form-group d-inline">
                            @Html.LabelFor(x => x.RememberMe)
                            @Html.CheckBoxFor(x => x.RememberMe)
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign in" />
                        </div>
                    </form>
                    <p class="loginhere">
                        Don't have an account ? <a href="~/Account/Register" class="loginhere-link">Create an account</a>
                    </p>
                    <p></p>
                    <div class="display-flex justify-content-center">
                        <p class="btn btn-secondary">
                            <a style="color:white;text-decoration: none;" href="~/Home/Index/1">Back to main page</a>
                        </p>
                    </div>

                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
</body>
@*<h1>Login</h1>
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary mb-4">Register</a>
    <form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <div>
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div>
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <input type="submit" value="Login" class="btn btn-warning" />
        </div>
    </form>*@
