@model MVCBikeShop.Models.ViewModels.RegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@*<h1>Register</h1>*@

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="~/Css/registration.css" />
        <link type="text/css" rel="stylesheet" href="~/Css/validation.css" />
        <link type="text/css" rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">
    </head>

<body>
    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="post" id="signup-form" class="signup-form">
                       
                        <h2 class="form-title">Create account</h2>
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <input type="text" class="form-input" name="UserName" value="@Model.UserName" id="name" placeholder="Your Name" />
                            @Html.ValidationMessageFor(x => x.UserName)

                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="LastName" value="@Model.LastName" id="name" placeholder="Your Last Name" />
                            @Html.ValidationMessageFor(x => x.LastName)
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="Email" value="@Model.Email" id="email" placeholder="Your Email" />
                            @Html.ValidationMessageFor(x => x.Email)

                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="Password" value="@Model.Password" id="password" placeholder="Password" />
                            @Html.ValidationMessageFor(x => x.Password)

                            @*<span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>*@
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="ConfirmPassword" id="re_password" placeholder="Repeat your password" />
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>

                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" />
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? <a href="~/Account/Login" class="loginhere-link">Login here</a>
                    </p>
                    <p></p>
                    <div class="display-flex justify-content-center">
                        <p class="btn btn-secondary" >
                            <a style="color:white;text-decoration: none;" href="~/Home/Index/1">Back to main page</a>
                        </p>
                    </div>
                   
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/Js/main.js"></script>
</body>
<!-- Sign up form -->
@*<form asp-action="Register" asp-controller="Account" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div>
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div>
            @Html.LabelFor(x => x.ConfirmPassword)
            @Html.PasswordFor(x => x.ConfirmPassword)
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
        <input type="submit" value="Login" class="btn btn-warning" />
    </div>
</form>*@

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/Js/main.js"></script>
