@model MVCBikeShop.Models.Bike
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="row row-cols-xl-2 row-cols-md-2 row-cols-sm-2 row-cols-1 m-5 p-5 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">

    <div>
        <div style="display:flex; flex-direction:column; text-align:center; border:1px solid lightgray;border-radius:5px;">
            <div>@Model.BikeTitle</div>
            <img src="@Model.PhotoPath" />
            <div><h6>@Model.Price UAH</h6></div>
        </div>
    </div>

    <div class="">
        <form method="post" class="row row-cols-1 needs-validation p-2 m-1" style="border:1px solid lightgray; border-radius:5px;" novalidate>
            <input type="hidden" value="@Model.BikeId" name="BikeId" />
            <div class="d-flex flex-column justify-content-lg-center">
                <label>Name: </label>
                <input type="text" name="Name" />
            </div>
            <div class="d-flex flex-column justify-content-lg-center">
                <label>Lastname: </label>
                <input type="text" name="Lastname" />
            </div>
            <div class="d-flex flex-column justify-content-lg-center">
                <label>Email: </label>
                <input type="email" name="Email" />
            </div>
            <div class="d-flex flex-column justify-content-lg-center">
                <label>Phone: </label>
                <input type="text" name="Phone" />
            </div>
            @Html.ValidationSummary()
            <div class="mt-2">
                <button class="btn btn-primary" type="submit">Make an order</button>
            </div>
        </form>
    </div>
</div>


